<html>
    <head>
        <title>Bikash's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Bikash's Django Blog</a></h1>
        </div>

        <div>
            <p>published: 05.05.2020, 5:00 PM</p>
            <h2><a href="">My first post</a></h2>
            <h1>Kitne armaan armaan</h1>>
        </div>

        <div>
            <p>published: 05.05.2020, 5:15 PM</p>
            <h2><a href="">My first post</a></h2>
            <h1>jaage tere waaste</h1>
        </div>
    </body>
</html>